h1::first-letter {
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: yellow;
}

p::selection {
    color: white;
    background-color: black;
}

/* #fruit li::before {
    content: "✓";
} */

#fruit li::marker{
    content: "✓";
    color: red;
    font-size: 2em;
}

#apple::after {
    content: "🍎";
}

#orange::after {
    content: "🍊";
}

#banana::after {
    content: "🍌";
}

